In [1]:
import pandas as pd
import spacy

In [2]:
data = pd.read_excel('/Users/toscavoogd/Git_thesis_kick/Kickstarter_thesis/cleaned_data.xlsx')
data.columns

Index(['Unnamed: 0', 'id', 'name', 'creator', 'goal', 'pledged_amount',
       'percentage_fulfilled', 'status', 'backers', 'launch_date', 'deadline',
       'duration_days', 'description', 'comments'],
      dtype='object')

### normalize

In [3]:
data_text = str(data['comments'])
nlp = spacy.load('en_core_web_sm')
text = data_text
doc = nlp(text)
doc

0      mark ison villegas days ago looking forward et...
1      hannah day ago maybe simple printer guide migh...
2      smaug days ago donator level excellent idea ch...
3      shadowneko day ago titles says only available ...
4      chloe wilkinson day ago hi cole ive added  wal...
                             ...
215    fangin month ago congratulations hitting targe...
216    eric tien days ago many chapters total expect ...
217    begnaud month ago world needs this thank creat...
218    mischeel klatt minutes ago forgot increase con...
219    hassan jaber hours ago hi first backing im sup...
Name: comments, Length: 220, dtype: object

# Split comments

In [4]:
sentiment_data = data[['id', 'comments']]
sentiment_data

             id                                           comments
0     617809533  mark ison villegas days ago looking forward et...
1     236153263  hannah day ago maybe simple printer guide migh...
2    1854794581  smaug days ago donator level excellent idea ch...
3    1754229383  shadowneko day ago titles says only available ...
4    1717499987  chloe wilkinson day ago hi cole ive added  wal...
..          ...                                                ...
215   252476802  fangin month ago congratulations hitting targe...
216   217466423  eric tien days ago many chapters total expect ...
217   246725515  begnaud month ago world needs this thank creat...
218  1485748913  mischeel klatt minutes ago forgot increase con...
219   406498745  hassan jaber hours ago hi first backing im sup...

[220 rows x 2 columns]

In [5]:
sentiment_data = sentiment_data.drop('comments', axis=1).join(sentiment_data['comments'].str.split('ago', expand=True).stack().reset_index(level=1, drop=True).rename('comments'))

In [6]:
sentiment_data

            id                                           comments
0    617809533                           mark ison villegas days
0    617809533   looking forward etraining ive waiting long ti...
0    617809533   intense support thank much would love share k...
0    617809533   glad kawakami sensei changed mind transmissio...
0    617809533   support encouraging thank much regarding ques...
..         ...                                                ...
219  406498745   hi wondering ordered set knives work wondered...
219  406498745   hi terry thanks support special addon extra s...
219  406498745   congrats amazing set reach k switch addon blo...
219  406498745   hi suzanna good hear say when were still thin...
219  406498745                                                  c

[8491 rows x 2 columns]

In [21]:
sentiment_data.to_excel('/Users/toscavoogd/Kickstarter_selenium_scrape/test_comments1.xlsx')
#go to alteryx